---
import "../pages/students/test.astro";
---

<html>
    <div id="sidebar" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav();">&times;</a>
        <a href="/bye-mr-gwilt/students/test">Test</a>
    </div>
    <img onclick="openNav()" class = "sidebaricon" src = "https://cdn-icons-png.flaticon.com/512/10055/10055575.png">

  <style>
    .container {
      display: flex;
      height: 10vh;
      width: 100%;
      align-content: space-between;
      z-index: 10;
      transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
    }

    div {
      width: 50vw;
    }
    
    .sidenav {
    height: 100%; 
    width: 0;
    position: fixed; 
    z-index: 1000;
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px;
    transition: 0.5s;
    }

    
    .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    font-family: "Bungee Shade", sans-serif;
    transition: 0.3s;
    }

    
    .sidenav a:hover {
    color: #f1f1f1;
    }

    .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    }

    @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    }
    .sidebaricon{
        width: 5vh;
        height:auto;
        position: fixed;
        top:2vw;
        left:2vw;
    }
  </style>
</html>