---
import Quotecard from "../../components/card.astro";
import Grid from "../../components/grid.astro"
---


<html lang="en">
    <head>
        <script src="/bye-mr-gwilt/data.js" defer></script>
    </head>
    <body>
    <div class = "quote-section" id = "quote-section">
    <Grid id="responses">
    </Grid>
    </div>
    </body>

    <style>
       :global(.quote-section) {
        display: flex;
        flex-wrap:wrap;
        padding: 4rem;
        justify-content: center;
        align-items: flex-start; 
       }



    :global(.quote) {
      font-family: "Bungee", "sans-serif";
      font-size: 1em;
    }

    :global(.name) {
      font-family: "Bungee", "sans-serif";
    }
    </style>
</html>