---
import Quotecard from "../../components/card.astro";
import Grid from "../../components/grid.astro"
---


<html lang="en">
    <head>
        <script src="/bye-mr-gwilt/data.js" defer></script>
    </head>
    <body>
    <div class = "quote-section" id = "quote-section">
    </div>
    </body>

    <style>
       :global(.quote-section) {
        display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 2em;
       }
        @media only screen and (max-width: 900px) {
      :global(.quote-section) {
        grid-template-columns: 1fr;
      }
    }



    :global(.quote) {
      font-family: "Bungee", "sans-serif";
      font-size: 2em;
    }

    :global(.name) {
      font-family: "Bungee", "sans-serif";
    }
    </style>
</html>