---
---


<html lang="en">
    <head>
        <script src="/bye-mr-gwilt/data.js" defer></script>
    </head>
    <body>
    <div id="responses">
        <div id = "quotes"></div>
    </div>
    </body>
</html>